.entire_div_profile{  
    display: flex;
}
.side_main_box{
    display: block;
    margin-top: 5%;
    width: 100%;

    padding: 1.5%;

}
.profile{
    background-color: white;
    color: blueviolet;
}
.display_class{
  display:none;
  background-color: red;
}
.show_display{
  display: block;
}

button{
    background-color:dodgerblue;
    color: white;
    border-radius: 5px;
    padding: 1% 4% 1% 4%;   
    font-weight:600;
}
button:hover{
    background-color:whitesmoke;
    color: dodgerblue;
}

.display_class{
    display:none;
    background-color: red;
}
.show_display{
    display: block;
}


body, html, .App, #root, .auth-wrapper {
    width: 100%;
    height: 100%;
  }
  .auth-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 60px;
    padding-left: 80px;
  }
  
  .auth-inner {
    width: 450px;
    margin: auto;
    background: #4707f500;
    box-shadow: 0px 14px 80px rgba(8, 20, 250, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
    
  }
  
  .auth-wrapper .form-control:focus {
    border-color: #f80606;
    box-shadow: none;
     
  }


